.terminal {
    max-height: 79%;
    min-height: 79%;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
    width: calc(100% - 215px);
}

.output {
    overflow: hidden;
    max-height: 10%;
    min-height: 10%;
    overflow-x: scroll;
    overflow-y: scroll;
    width: calc(100% - 215px);
}

.customParsersDiv {
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 95%;
    height: 47%;
}

.box {
    background: rgb(45, 45, 45);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    resize: none;
    white-space: nowrap;
}

.output_history {
    max-height: 50%;
    min-height: 50%;
    overflow-x: scroll;
    overflow-y: scroll;
}

.output_entry {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 30px;
    text-align: left;
    border: none;
    border-left: solid;
    border-width: 5px;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #555;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.custom_parser_entry {
    background-color: grey;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 3px solid black;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.custom_parser_input {
    position: sticky;
    left: 60px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

.terminal span {
    display: table-cell;
    width: 1px;
}

.terminal input {
    display: table-cell;
    border: none;
    background: black;
    color: white;
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background: rgb(70, 70, 70);
    color: white;
}

.general_btn {
    background: rgb(70, 113, 150);
    color: white;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(70, 113, 150);
    position: absolute;
}

.general_btn:hover {
    background: rgb(50, 93, 130);
}

.options_button {
    background: rgb(70, 113, 150);
    color: white;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(70, 113, 150);
    left: 50%;
    width: 90%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button:hover {
    background: rgb(50, 93, 130);
}

.line {
    display: table;
    width: 100%;
}

.checkbox_options {
    right: 5%
}

.label_right {
    display: inline-block;
    width: 150px;
}

.label_left {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.options_menu {
    resize: horizontal;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #303030;
    width: 200px;
    height: 100%;
    resize: horizontal;
}

input::-webkit-calendar-picker-indicator {
    opacity: 100;
}

.select_input {
    position: absolute;
    right: 60px;
    text-align: right;
    width: 130px;
    height: 20px;
}

.config_menu {
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 70%;
    border: 3px solid black;
    background-color: #555;
    padding: 10px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
}

.close_btn {
    position: absolute;
    bottom: 10px;
}

.file_path {
    width: 82%;
}

img {
    transform: translate(0, 20%);
}