.terminal {
    background: black;
    color: white;
    font: courier;
    padding: 10px;
    overflow: hidden;
    max-height: 80%;
    min-height: 80%;
    overflow-x: scroll;
    overflow-y: scroll;
    resize: none
}

.line {
    display: table;
    width: 100%;
}

.terminal span {
    display: table-cell;
    width: 1px;
}

.terminal input {
    display: table-cell;
    width: 100%;
    border: none;
    background: black;
    color: white;
    outline: none;
}

.footer {
    position: fixed;
    bottom: 5;
    right: 5;
}

input::-webkit-calendar-picker-indicator {
    opacity: 100;
}

.select_input {
    position: relative;
    text-align: right;
    width: 100px;
    height: 20px;
}