.terminal {
    background: rgb(45, 45, 45);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    overflow: hidden;
    max-height: 80%;
    min-height: 80%;
    overflow-x: scroll;
    overflow-y: scroll;
    resize: none
}

body {
    background: rgb(70, 70, 70);
    color: white;
}

#listPorts {
    background: rgb(70, 113, 150);
    color: white;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(70, 113, 150);
    position: absolute;
    right: 5%;
}

.options_button {
    background: rgb(70, 113, 150);
    color: white;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(70, 113, 150);
    left: 50%;
    width: 90%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button:hover {
    background: rgb(50, 93, 130);
}

.line {
    display: table;
    width: 100%;
}

.terminal span {
    display: table-cell;
    width: 1px;
}

.terminal input {
    display: table-cell;
    width: 100%;
    border: none;
    background: black;
    color: white;
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.checkbox_options {
    right: 5%
}

.label_right {
    display: inline-block;
    width: 150px;
}

.label_left {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.options_menu {
    position: fixed;
    top: 5px;
    right: 0;
    background-color: #484848;
    width: 200px;
    height: 100%;
}

input::-webkit-calendar-picker-indicator {
    opacity: 100;
}

.select_input {
    position: absolute;
    right: 60px;
    text-align: right;
    width: 130px;
    height: 20px;
}

.config_menu {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    border: 3px solid black;
    background-color: darkgrey;
    padding: 10px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
}