body {
    background-color: #373737;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.boolean {
    color: blue;
}

.box {
    background: rgb(25, 25, 25);
    color: white;
    border-color: black;
}

.checkbox_options input:checked+.eye {
    background-color:white;
}

.checkbox_options .eye {
    background-color:rgb(151, 150, 150);
}

.config_menu {
    border-color: black;
    background-color: #373737;
}

.custom_parser_entry {
    background-color: #373737;
    color: white;
    border-color: black;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.filters {
    border-color: black;
    background-color: #373737;
}

.find-box {
    background-color: #555555 !important;
    color: inherit !important;
}

.find-input {
    background-color: #555555 !important;
    color: inherit !important;
}

input[type=text] {
    background-color: #555555;
    color: white;
}

.key {
    color: rgb(105, 190, 45);
}

.null {
    color: magenta;
}

.number {
    color: rgb(255, 0, 255);
}

.options_menu {
    background-color: #373737;
}

.output_entry {
    background-color: grey;
    color: white;
}

select {
    background-color: #555555;
    color: white;
}

.string {
    color: rgb(182, 182, 2);
}

::-webkit-scrollbar-track {
    background: #888;
}

::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 7px;
}