body {
    background: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.boolean {
    color: red;
}

.box {
    background: lightgrey;
    color: black;
    border-color: black;
}

.checkbox_options input:checked+.eye {
    background-color: black;
}

.checkbox_options .eye {
    background-color: rgb(82, 81, 81);
}

.config_menu {
    border-color: black;
    background: white;
}

.custom_parser_entry {
    background-color: white;
    color: black;
    border-color: black;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.filters {
    border-color: black;
    background: white;
}

.find-box {
    background-color: white !important;
    color: inherit !important;
}

.find-input {
    background-color: white !important;
    color: inherit !important;
    border-color: black !important;
}

.graph_label_disabled {
    color: rgb(218, 215, 215);
}

#graph_legend,
#graph_inspector {
    background-color: #eee8e8;
    border-color: black;
}

input[type=text] {
    background-color: white;
    color: black;
}

.key {
    color: blue;
}

.null {
    color: red;
}

.number {
    color: red;
}

.options_menu {
    background-color: #999;
}

.output_entry {
    background-color: white;
    color: black;
}

select {
    background-color: white;
    color: black;
}

.string {
    color: green;
}

::-webkit-scrollbar-track {
    background: #777;
}

::-webkit-scrollbar-thumb {
    background: #fffefe;
    border-radius: 7px;
}