body {
    background: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.boolean {
    color: red;
}

.box {
    background: lightgrey;
    color: black;
    border-color: black;
}

.config_menu {
    border-color: black;
    background: white;
}

.custom_parser_entry {
    background-color: grey;
    color: black;
    border-color: black;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

input[type=text] {
    background-color: white;
    color: black;
}

.key {
    color: blue;
}

.null {
    color: red;
}

.number {
    color: red;
}

.options_menu {
    background-color: #999;
}

.output_entry {
    background-color: white;
    color: black;
}

select {
    background-color: white;
    color: black;
}

.string {
    color: green;
}

::-webkit-scrollbar-track {
    background: #777;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 7px;
}