.advanced_config_div {
    display: flex;
    flex-direction: column;
}

body {
    height: 100vh;
    width: 100vw;
}

.box {
    padding: 10px;
    resize: none;
    white-space: nowrap;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

button:disabled {
    filter: brightness(70%);
}

button:hover:not([disabled]) {
    background: rgb(50, 93, 130);
}

.checkbox_options {
    display: inline-block;
}

.checkbox_options input {
    display: none;
}

.checkbox_options input:checked+.slider {
    background: rgb(100, 143, 200);
}

.checkbox_options input:checked+.slider:before {
    transform: translateX(17px);
}

.checkbox_options input:checked+.eye {
    -webkit-mask: url('../images/visible-eye.svg') no-repeat 50% 50%;
    -webkit-mask-size: contain;
    mask: url('../images/visible-eye.svg') no-repeat 50% 50%;
    mask-size: contain;
}

.checkbox_options .eye {
    -webkit-mask: url('../images/not-visible-eye.svg') no-repeat 50% 50%;
    -webkit-mask-size: contain;
    mask: url('../images/not-visible-eye.svg') no-repeat 50% 50%;
    mask-size: contain;
    width: 24px;
    height: 24px;
    padding: 2px;
    cursor: pointer;
}

.checkbox_options .slider {
    width: 36px !important;
    height: 18px;
    padding: 2px;
    box-sizing: border-box;
    background-color: #555555;
    border-radius: 15px;
    transition: .3s;
    cursor: pointer;
}

.checkbox_options .slider:before {
    display: flex;
    background-color: #fff;
    content: "";
    width: 14px;
    height: 14px;
    transition: .3s;
}

.checkbox_options .slider.round:before {
    border-radius: 50%;
}

.close_btn {
    margin-left: auto;
    margin-right: 4px;
}

.config_menu {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 70%;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
}

.config_menu .checkbox_options {
    margin-right: 5px;
}

.config_menu .color_input {
    width: 20px;
    height: 20px;
    background: none;
    box-sizing: content-box;
    padding: 0px;
    border: none;
    position: relative;
    margin: 0;
    margin-right: 15px;
}

.config_menu .color_input::-webkit-color-swatch {
    border-radius: 50%;
    padding: 0px;
}

.config_menu .color_input::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}

.config_menu label {
    margin-right: 5px;
}

.config_menu select {
    margin-left: auto;
    border-radius: 5px;
    width: 50%;
}

.config_menu_line {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

#content {
    overflow: hidden;
    width: calc(100% - 225px);
    display: flex;
    flex-direction: column;
    margin: 5px;
    min-width: 408px;
}

.customParsersDiv {
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    min-height: 100px;
    border-radius: 0px;
}

.custom_parser_entry {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding: 5px;
    box-sizing: border-box;
    border-width: 0px;
    border-radius: 5px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 5px;
}

.custom_parser_entry .half {
    display: flex;
    flex-direction: column;
    width: 43%;
    height: 100%;
    margin-right: 15px;
}

.custom_parser_entry img {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    transform: translate(0, -30%);
}

.custom_parser_entry img:hover {
    scale: 1.1;
}

.custom_parser_entry input[type=color] {
    background: none;
    box-sizing: content-box;
    padding: 0px;
    border: none;
    height: 200%;
    width: 30px;
    position: relative;
    margin: 0;
    transform: translate(-10px, -20%);
}

.custom_parser_entry .line {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
    margin-right: 5px;
}

.custom_parser_entry label {
    display: inline-block;
    min-width: 30%;
}

.custom_parser_entry .line input[type=text] {
    position: relative;
    margin-left: auto;
    width: 100%;
}

.dropbtn {
    background: rgb(70, 113, 150);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
}

.dropbtn:hover {
    background: rgb(60, 96, 128);
}

.dropdown {
    margin-left: auto;
    position: relative;
}

.filters {
    display: flex;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 900;
    right: 0px;
    padding: 3px;
    margin-left: 3px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}

.filters a:hover {
    background-color: #ddd;
}

.filters .checkbox_options {
    margin-left: 0;
}

.filters label {
    display: inline-block;
    text-align: left !important;
    margin-left: 2px !important;
    width: auto !important;
}

.filters .line {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2px;
}

.file_path {
    width: 82%;
}

#find_container {
    top: 0px;
    right: 0;
    display: flex;
    width: auto;
    position: relative;
    width: 0;
}

.find-box {
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
    margin-left: auto !important;
    transform: translate(-100%, 31px);
    align-items: center;
}

.find-back,
.find-case,
.find-close,
.find-forward {
    color: white !important;
    background: rgb(70, 113, 150) !important;
    opacity: 1 !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
}

.find-back-cover,
.find-forward-cover {
    opacity: 0 !important;
}

.find-back:hover,
.find-case:hover,
.find-close:hover,
.find-forward:hover {
    background: rgb(50, 93, 130) !important;
}

.find-close-inner1,
.find-close-inner2 {
    background: rgb(255, 255, 255) !important;
}

.find-back-line {
    border-color: transparent rgb(255 255 255) transparent transparent !important;
}

.find-forward-line {
    border-color: transparent transparent transparent rgb(255 255 255) !important;
}

.find-matches {
    color: inherit !important;
}

.general_btn {
    background: rgb(70, 113, 150);
    color: white;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(70, 113, 150);
}

.general_btn:hover:not([disabled]) {
    background: rgb(50, 93, 130);
}

.graph_color_label {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 15px;
}

.graph_color_label:hover {
    cursor: pointer;
    scale: 1.1;
}

#graph_container {
    width: 100%;
    height: 95%;
    margin: auto;
    padding: 0;
}

#graph_inspector {
    position: absolute;
    width: auto;
    height: auto;
    box-sizing: border-box;
    display: none;
    padding: 1%;
    z-index: 999;
}

#graph_legend {
    z-index: 9999;
    position: absolute;
    display: flex;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.graphsListDiv {
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    width: 95%;
    height: 100%;
    min-height: 100px;
}

#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
}

#header input {
    height: 28px;
    width: 100%;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#header input:disabled {
    filter: brightness(60%);
}

#header button {
    height: 28px;
    width: auto;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: auto;
}

#header button:disabled {
    filter: brightness(60%);
}

#header select {
    height: 28px;
    width: 180px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#header select:disabled {
    filter: brightness(60%);
}

.hidden {
    display: none;
}

img {
    transform: translate(0, 20%);
}

input[type=text] {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    margin-right: 2px;
}

input::-webkit-calendar-picker-indicator {
    opacity: 100;
}

.label_right {
    width: 150px;
}

.label_left {
    width: 150px;
    text-align: right;
    right: 25px;
}

.options_button {
    background: rgb(70, 113, 150);
    color: white;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(70, 113, 150);
    left: 50%;
    width: auto;
    margin: 5px;
}

.options_menu {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    min-width: 220px;
    width: 220px;
    margin-left: auto;
}

.options_menu_line {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

.options_menu .checkbox_options {
    margin-left: auto;
}

.options_menu_line label {
    width: auto;
    margin-right: 5px;
}

.options_menu select {
    margin-left: auto;
    border-radius: 5px;
    width: 50%;
}

.output {
    overflow: hidden;
    max-height: 12%;
    min-height: 12%;
    overflow-x: auto;
    overflow-y: auto;
    width: calc(100% - 25px);
    font-weight: bold;
}

.output_entry {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 45px;
    text-align: left;
    border: none;
    border-left: solid;
    border-width: 5px;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.output_history {
    height: 47%;
    width: calc(100%-5px);
    overflow-x: auto;
    overflow-y: auto;
}

.packetsDiv {
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
}

.parser_timestamp {
    display: block;
    font-size: small;
    font-weight: bold;
}

.select_input {
    right: 60px;
    text-align: right;
    width: 100px;
    height: 20px;
}

.sequencer_button {
    background: rgb(70, 113, 150);
    color: white;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(70, 113, 150);
    width: auto;
    margin-right: auto;
    margin: 0.3%;
}

#sidebar_resizer {
    height: 100%;
    width: 20px;
    background-color: grey;
    z-index: 900;
    cursor: ew-resize;
}

.terminal {
    max-height: 73%;
    min-height: 73%;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    width: calc(100% - 25px);
}

.terminal input {
    display: table-cell;
    border: none;
    background: black;
    color: white;
    outline: none;
}

.terminal span {
    display: table-cell;
    width: 1px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}